<header>
	<div class="logo">
		<p>logo</p>
	</div>

	<div class="welcome">
		<p>Hello, Liz </p>
	</div>

	<div class="nav-icon">
			<p> ◀ </p>
	</div>
</header>

<div class="wrapper">
    <div class="side-menu">
	  <div class="sm-options">
	  		<ul>
		  		<li>Home</li>
		  		<li>Temp:</li>
		  		<li>Wind:</li>
		  		<li>Clouds:</li>
		  		<li>High:</li>
		  	</ul>
	  	</div>
	</div>

  <div class="content">

    <div class="temp">

    </div>

  </div>

</div>

<footer>
	<p> Location </p>
</footer>