<header>
	<div class="logo">
		<p>logo</p>
	</div>

	<div class="welcome">
		<p>Hello, Liz </p>
	</div>

	<div class="nav-icon">
		<p> <-- </p>
	</div>
</header>   

<div class="wrapper">
  <div class="content">
    <div class="temp">
    	<p> Current Temp: 72 degrees </p>
    	<h1> <%= @weather %> </h1>
    </div>
  </div>
</div>

<footer>
	<p> Location: </p>
</footer>

