<html>
<head>
	<title></title>
	<link href="/normalize.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="weather.css">
</head>
<body>
	<header>
		<div class="logo">
			<p>logo</p>
		</div>

		<div class="welcome">
			<p>Hello, Liz </p>
		</div>

		<div class="nav-icon">
			<p> <-- </p>
		</div>
	</header>   

	<div class="wrapper">
      <div class="content">
        <div class="temp">
        	<p> Current Temp: 72 degrees </p>
        </div>
      </div>
    </div>
	
	<footer>
		<p> Location </p>
	</footer>
</body>
</html>
