
/**** DEVISE ****/
.usersregistrations, .devisesessions, .devisepasswords {
  background-image: url('http://wallalay.com/wp-content/uploads/2014/09/Gradient-Background-17.jpg');

}

.containerDE {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 100%;
}
 
.devise {
  position: relative;
  margin: 9.375em auto;
  padding: .8em;
  width: 19.375em;
}

.devise:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
 
.devise h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 1.5em;
  color: #555;
  text-align: center;
  text-shadow: .01em .01em .2em white;
  background-color: #5a99a8;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}
 
.devise input[type=email], .devise input[type=password] {
  width: 17.7em;
}

.loginDE {
	margin: 1em 0 1em 6em;
	padding:.2em .4em;
	border-radius: .5em;
	background-color: #fff;
	opacity: 20%;
	border: .1em black;
}

.loginDE a:hover{
	border: 30px solid red;
}

.signupDE {
	color: #000;
	text-decoration: none;
	margin-top: 1em;
}

.forgotDE {
	color: #000;
	text-decoration: none;
	margin-bottom: 20px;
	float: right;
}

/**** DEVISE END ****/

