*{
	box-sizing:border-box;
	/* adds animation for all transitions */ 
	-webkit-transition: .25s ease-in-out; 
	-moz-transition: .25s ease-in-out; 
	-o-transition: .25s ease-in-out; 
	transition: .25s ease-in-out; 
	margin: 0; 
	padding: 0; 
	-webkit-text-size-adjust: none; 
}

html, body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
  font-family: 'Questrial', sans-serif;
}

p{
	margin: 0;
}

/*********** Header *************/
header{
	width: 100%;
	height: 10%;
	background-color: #FFF;
	border-bottom: 1px solid #000;
}

.logo{
	float: left;
	width: 30%;
	display: inline-block; 
	margin-left: 2.5%;
	margin-top: 20px;
}

.welcome{
	margin: 0 auto;
	width: 35%;
	display: inline-block;
	text-align: center;
}

.welcome p{
	font-size: 20px;
	margin-top: 20px;
}

.nav-icon{
	float: right;
	width: 30%;
	display: inline-block;
	margin-right: 2.5%;
	font-size: 1.5em;
}

.nav-icon p{
	float: right;
	font-size: 2em;
/*	opacity: 0;*/
}


/*********** Body *************/


.wrapper{
  background-image: url(http://oceanfronthawaii.us/images/backgrounds/background_light_blue.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  -o-background-size: 100% 100%, auto;
  -moz-background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
  background-size: 100% 100%, auto;
  height: 80%;
  width: 100%;
  margin: 0;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
} 

.temp{
	height: 60%;
}

.temp p{
	color: blue;
	font-size: 5em;
}

/*********** Side Menu *************/

.side-menu {

	height: 80%;
	width: 20%;
	min-width: 200px;
	z-index: 2;
	position: absolute;
	left: 100%;
	background-image: url(http://images.all-free-download.com/images/graphiclarge/black_texture_texture_background_07_hd_pictures_169900.jpg);
	background-size: cover;
}

.sm-options{
	color: white;
	position: relative;
	top: 10%;
	font-size: 1.4em;
}

.sm-options p{
	text-align: center;
	font-size: 1.5em;
}

.sm-options li{
}

:checked + .side-menu{
  background-image:url(http://images.all-free-download.com/images/graphiclarge/black_texture_texture_background_07_hd_pictures_169900.jpg);
  transform: translateX(-100%)
}

#menu-toggle {
  display: none;
}

/************ Footer **************/
footer {
  height: 10%;
  padding-top: 1%;
  width: 100%;
  background-color: #000;
  border-top: 1px solid #FFF;
}

footer p{
	margin: 0;
	text-align: center;
	font-size: 2em;
	color: #FFF;
}
